.bazaar-remove-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.bazaar-remove-dialog-subtitle {
    margin-bottom: 2px;
    text-align: center;
    max-width: 300px;
}

.bazaar-remove-dialog-destructive {
    color: #ff938c;
    background-color: rgba(255, 147, 139, 0.15);
}

.bazaar-remove-dialog-destructive:hover {
    color: #ff938c;
    background-color: rgba(255, 147, 139, 0.25);
}

.bazaar-remove-dialog-destructive:active {
    color: #ff938c;
    background-color: rgba(255, 147, 139, 0.35);
}

.bazaar-remove-dialog-destructive:focus {
    color: #ff938c;
    background-color: rgba(255, 147, 139, 0.20);
    box-shadow: 0 0 0 2px #ff938c;
}

.bazaar-remove-dialog-list {
    margin-top: 12px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    min-width: 300px;
    box-shadow: 0 0 0 1px rgba(0,6,0,0.03), 0 1px 3px 1px rgba(0,6,0,0.07), 0 2px 6px 2px rgba(0,6,0,0.03);
}

.bazaar-remove-dialog-radio-row {
    padding: 10px 12px;
    spacing: 12px;
}

.bazaar-remove-dialog-radio-row:first-child {
    border-radius: 12px 12px 0 0;
}

.bazaar-remove-dialog-radio-row:last-child {
    border-radius: 0 0 12px 12px;
}

.bazaar-remove-dialog-radio-row:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.bazaar-remove-dialog-radio-row:active {
    background-color: rgba(255, 255, 255, 0.12);
}

.bazaar-remove-dialog-radio-title {
    font-size: 14.66px
}

.bazaar-remove-dialog-radio-subtitle {
    font-size: 12.22px;
    color: rgba(255, 255, 255, 0.55);
}

.bazaar-remove-dialog-radio-button {
    border-radius: 999px;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
}

.bazaar-remove-dialog-radio-button:checked {
    border: 6px solid -st-accent-color;
    width: 8px;
    height: 8px;
    background-color: white;
}
